@import url('./variables.css');
@import url('./responsive.css');
@import url('./button.css');
@import url('./util.css');
@import url('./styles.css');

*,
*:before,
*:after {
	box-sizing: border-box;
	/* padding: 0;
	margin: 0; */
}
body {
	background-color: var(--pure-white);
	color: var(--general-text);
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
}
.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.container-fluid {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.responsive-image {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.bottom-right {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.logo {
	margin-top: -1rem;
}

.fixed-top-right {
	position: absolute;
	top: 5px;
	right: 10px;
}

.card-img {
	z-index: -1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	position: relative;
}

.push-up {
	margin-top: -2rem;
	z-index: 5;
}

.car-title {
	font-size: 1.4rem;
	font-weight: 400;
}

.card-header {
	font-size: 1.3rem;
	font-weight: 300;
	border-radius: 10px 10px 0 0;
}

.location {
	font-size: 10px;
	color: var(--deep-purple) !important;
}

.active {
	background-color: var(--light-purple) !important;
	color: var(--base-purple);
}

.paragraph {
	line-height: 1.2;
	word-spacing: 1;
}

.rounded-image {
	border-radius: 50%;
}
.delete:hover {
	color: var(--deep-red) !important;
}
input.w-100,
input.w-50 {
	border: none;
	border-bottom: 2px solid var(--deep-purple);
	padding: 10px 5px;
	background-color: var(--pure-white);
	outline: none;
	box-sizing: border-box;
}

input.w-100:focus,
input.w-50:focus {
	border: none;
	border-bottom: 2px solid var(--base-blue);
	padding: 10px 5px;
	background-color: var(--grey-one);
	outline: none;
	box-sizing: border-box;
}

textarea.w-100 {
	border: none;
	border-bottom: 2px solid var(--deep-purple);
	padding: 10px 5px;
	background-color: var(--grey-one);
	outline: none;
	box-sizing: border-box;
	width: 100%;
	height: 150px;
}

textarea.w-100:focus {
	border: none;
	border-bottom: 2px solid var(--base-blue);
	padding: 10px 5px;
	background-color: var(--grey-one);
	outline: none;
	box-sizing: border-box;
}

select.filter {
	width: 100%;
	padding: 10px 5px;
	border: none;
	border-bottom: 2px solid var(--deep-purple);
	background-color: var(--grey-one);
	outline: none;
}

select.filter:focus {
	width: 100%;
	padding: 10px 5px;
	border: none;
	border-bottom: 2px solid var(--base-blue);
	background-color: var(--grey-one);
	outline: none;
}

.overlay-advert {
	background: #b39ddb;
	background: -webkit-linear-gradient(to left, #9575cd, #7e57c2);
	background: linear-gradient(to left, #9575cd, #7e57c2);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #ffffff;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	border-radius: 10px 0 0 10px;
}
/* cards css */
.wrapper {
	width: 270px;
	height: 340px;
	background: var(--background-purple);
	margin: auto;
	position: relative;
	overflow: hidden;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0;
	transform: scale(0.95);
	transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
	transform: scale(1);
	box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
	width: 100%;
	height: 100%;
}
.wrapper .container .top {
	height: 75%;
	width: 100%;
	/* background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg)
		no-repeat center center; */
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
}
.wrapper .container .bottom {
	width: 200%;
	height: 25%;
	transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
	transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
}
.wrapper .container .bottom p {
	margin: 0;
	padding: 0;
	font-size: 1rem;
}
.wrapper .container .bottom .left {
	height: 100%;
	width: 50%;
	background: #f4f4f4;
	position: relative;
	float: left;
}
.wrapper .container .bottom .left .details {
	padding: 20px;
	float: left;
	width: calc(70%);
}
.wrapper .container .bottom .left .buy {
	float: right;
	width: calc(30%);
	height: 100%;
	background: #f1f1f1;
	transition: background 0.5s;
	border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
	font-size: 30px;
	padding: 30px;
	color: var(--base-purple);
	transition: transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
	background: var(--light-purple);
}
.wrapper .container .bottom .left .buy:hover i {
	transform: translateY(5px);
	color: var(--deep-purple);
}
.wrapper .inside {
	z-index: 9;
	background: var(--abstract-orange);
	width: 140px;
	height: 140px;
	position: absolute;
	top: -70px;
	right: -70px;
	border-radius: 0px 0px 200px 200px;
	transition: all 0.5s, border-radius 2s, top 1s;
	overflow: hidden;
}
.wrapper .inside .icon {
	position: absolute;
	right: 85px;
	top: 85px;
	color: white;
	opacity: 1;
}
.wrapper .inside:hover {
	width: 100%;
	right: 0;
	top: 0;
	border-radius: 0;
	height: 80%;
}
.wrapper .inside:hover .icon {
	opacity: 0;
	right: 15px;
	top: 15px;
}
.wrapper .inside:hover .contents {
	opacity: 1;
	transform: scale(1);
	transform: translateY(0);
}
.wrapper .inside .contents {
	padding: 5%;
	opacity: 0;
	color: #ffffff;
	transform: scale(0.5);
	transform: translateY(-200%);
	transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents h1,
.wrapper .inside .contents p {
	color: white;
}
.wrapper .inside .contents p {
	font-size: 13px;
}
.list {
	background-color: #fff;
	box-shadow: 1px 2px 3px grey;
}
.list:hover {
	background: #f7f7f2 !important;
	box-shadow: 1px 3px 4px grey;
	cursor: pointer;
}

@media (max-width: 768px) {
	#landing-image {
		display: none;
	}
	footer {
		display: none;
	}
}
/* navbar styles */
.main-nav {
	list-style-type: none;
	display: none;
}

.main-nav li {
	text-align: center;
	margin: 10px auto;
}
.logo {
	display: inline-block;
}
.navbar-toggle {
	position: absolute;
	top: 15px;
	right: 20px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.6);
	font-size: 24px;
	cursor: pointer;
}
.active-nav {
	display: block;
}
@media screen and (min-width: 768px) {
	.navbar {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0;
		height: 70px;
		align-items: center;
	}
	.main-nav {
		display: flex;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}
	.main-nav li {
		margin: 0;
		margin-right: 5px;
	}
	.nav-links {
		margin-left: 40px;
	}
	.logo {
		margin-top: 0;
	}
	.navbar-toggle {
		display: none;
	}
	.nav-links:hover {
		color: rgba(255, 255, 255, 1);
	}
}
